body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 5% 10%;
}

header {
    background-color: rgb(24, 23, 23);
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

:root {
  --tile-bg-color: rgb(58, 57, 57);
  --tile-border-color: #333;
  --tile-hover-bg-color: #444;
  --tile-text-color: #fff;
  --tile-header-font-size: 1.2rem;
  --tile-body-text-align: center;
  --tile-padding: 20px;
  --tile-margin: 10px;
  --tile-border-radius: 5px;
  --tile-transition-duration: 0.3s;
}

/*
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
*/

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

.tile {
  background-color: var(--tile-bg-color);
  border: 1px solid var(--tile-border-color);
  border-radius: var(--tile-border-radius);
  padding: var(--tile-padding);
  margin: var(--tile-margin);
  transition: background-color var(--tile-transition-duration);
  flex: 1 0 200px; /* Adjust flex-basis as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile:hover {
  background-color: var(--tile-hover-bg-color);
}

.tile-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.tile-header {
  font-size: var(--tile-header-font-size);
  font-weight: bold;
  text-align: center;
  padding-bottom: var(--tile-padding);
  color: var(--tile-text-color);
}

.tile-body {
  text-align: var(--tile-body-text-align);
  vertical-align: middle;
  color: var(--tile-text-color);
}

.use-case {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.use-case > div {
    flex: 1;
    min-width: 300px;
    padding: 10px;
}
.use-case iframe {
    width: 100%;
    height: 100%;
}
.use-case p {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
/*
@media (max-width: 768px) {
    .use-case {
        flex-direction: column;
    }
}
*/

/* Responsive layout */
@media (max-width: 268px) {
  .tile-container {
      flex-direction: column; /* Arrange tiles vertically */
  }
}